@import url('https://fonts.googleapis.com/css?family=Lato');
* { margin:0; padding:0; box-sizing:border-box; }

html, body {
	background: url(BG.png);
	font-family: 'Lato', sans-serif;
	color: #e5e5e5;
}

img {height: 110px; width: auto; right: 0; position: absolute; padding-top: 15px; padding-right: 20px;}

.container {
	width: 1200px;
	max-width: 100%;
	height: 100%;
	padding: 40px;
	margin: auto;
}

#header{
	right: 0;
	background: #053542;
	padding: 10px 17px 10px 17px;
	width: 1200px;
	max-width: 100%;
}

#header h1 { text-align: center;	padding-bottom: 15px; }
#header p { font-size: 14px; text-align: center; padding-bottom: 8px;}
a { color: #55C34D; }

#table {
	background-color: #02222B;
	width: 100%;
	padding: 10px;
}

tr:nth-child(even) {background: #021a21;}
tr, th, td { padding: 4px 6px 4px 12px; font-size: 15.5px;}
table {text-align: center; margin: auto; text-align: center;}

#footer {text-align: right;}
